table {
    width: 100%;
    border: solid 1px #bdc3c7;
   }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 20%;
    text-transform: capitalize;
  }
  
  .button-container, .filter-container {
    margin: 1rem;
  }

  .table-container {
      padding: 1rem;
  }
 